/* Estilo para el contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
}

/* Estilo para el botón del perfil */
.profile-button {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 50%; /* Hacer el botón redondo */
    cursor: pointer;
}

/* Estilo para la imagen en el botón */
.profile-button img {
    width: 60px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 60px;
    border-radius: 50%; /* Ajusta el radio para que sea redonda */
    object-fit: cover;  /* Para asegurarte de que la imagen encaje en el círculo */
}

/* Estilo para el menú desplegable */
.dropdown-content {
    display: none;
    position:sticky;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

/* Estilo para los elementos del menú */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Cambiar el color de fondo de los elementos del menú al pasar el cursor sobre ellos */
.dropdown-content a:hover {
    background-color: #ddd;
}
/* Estilo para el contenedor de la lista */
.filter-list {
    margin: 0 10px 0 20px;
    align-items: center;
    width: 100vw; /* Ancho ajustable según tus necesidades */
    height: 10vh;
    margin: 0;
    padding: 0;
}

/* Estilo para los elementos de la lista */
.filter-item {
    display: flex;
    padding: 0;
}

/* Estilo para los campos de entrada */
input[type="text"] {
    width: 11vw;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: .7em;
    color: #757575;
    height: 5vh;
    text-align: center;
}

/* Estilo para los menús desplegables */
select, #marca, #año {
    width: 11vw;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: .7em;
    color: #757575;
    height: 5vh;
    text-align: center;
}

.filter-list button{
    height: 5vh;
    width: min-content;
    font-size: .7em;
    margin: 0 10px;
    background-color: #F61F60;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}
.filter-list button:hover{
    color: white;
}
#detalle-vehiculo{
    padding-left: 40px;
}
#detalle-vehiculo p{
    color: black;
    font-weight: bold;
}
#detalle-vehiculo span{
    color: #F61F60;
    font-weight: bold;
}

.detalles{
    height: fit-content;
}

li{
    display: flex;
    padding: 20px;
    border: none;
    max-width: 20vw;
    min-width: 20vw;
    height: 12vh;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}
li:hover{
    cursor: pointer;
}

li span{
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
    vertical-align: middle;
    height: min-content;
    text-align: center;
}

li strong, li p{
    color: #757575;
    font-size: .8rem;
    text-align: center;
    justify-content: center;
}

.active span{
    color: white;
}

.active strong, .active p{
    color: white;
}

.navbar{
    height: 10vh;
}

.card-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: rgba(54, 141, 255, 0.582);
}

.btn-a{
    position: absolute;
    top: -100%;
    display: grid;
    justify-content: center;
    vertical-align: middle;
}
.btn-a:hover{
    cursor: pointer;
}

.btn-a p{
    text-decoration: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-self: center;
    vertical-align: middle;
    margin-top: 20%;
    font-size: 2vw;
}

.cards-div .col{
    padding: 0;
    margin: 5px;
    margin-left: -5px;
    width: 30%;
}

.form-group input{
    border-radius: 5px;
    color: #F61F60;
    font-weight: bold;
}
.modal{
    height: 90vh;
}